/*
 * font-awesome overrides
 */
 
#rootPanel .entityBadge .fa {
  max-height: 15px;
  max-width: 15px;
}
#rootPanel .fa {
  display: unset;
}


#rootPanel .fa-folder:before {
  content: url(/images/svg-icons/yinyang.svg);
}